4Suite-XML==1.0.2
AddOns==0.6
Amara==1.2a2
AppTools==3.3.2
AuthKit==0.4.3
Axiom==0.6.0
Babel==0.9.4
Beaker==1.5.4
BeautifulSoup==3.2.0
BitTorrent==3.4.2
Box2D==2.0.2b1
Brlapi==0.5.5
BytecodeAssembler==0.5.1
BzrTools==2.3.1
CDDB==1.4
Camelot==10.07.02
Catwalk==2.0.2
Cerealizer==0.7
Chaco==3.3.1
Chameleon==1.2.13
Cheetah==2.4.3
ClientForm==0.2.10
Coherence==0.6.6.2
CouchDB==0.8
Creoleparser==0.7.3
Cython==0.13
DSV==1.4.1
DecoratorTools==1.8
Django==1.2.5
Djapian==2.3.1
Djblets==0.5.10alpha0.dev
EditObj==0.5.7
Eikazo==0.5.2
Elements==0.13
Elixir==0.7.1
Enable==3.3.1
EnthoughtBase==3.0.6
EnvisageCore==3.1.2
Epsilon==0.6.0
Extractor==0.5
Extremes==1.1.1
Flask==0.8
FormEncode==1.2.2
GDAL==1.6.3
GNS3==0.7.3
Genetic==0.1.1
Genshi==0.6
GeoIP-Python==1.2.4
GitPython==0.1.6
GnuPGInterface==0.3.2
IMDbPY==4.7
IPy==0.70
Impacket==0.9.6.0
Jinja==1.2
Jinja2==2.5.5
KWWidgets==1.0
Louie==1.1
M2Crypto==0.20.1
Magic-file-extensions==0.1
Mako==0.3.6
MapScript==5.6.5
Markdown==2.0.3
MarkupSafe==0.9.2
MySQL-python==1.2.2
Nautilus-scripts-manager==1.5
Nevow==0.10.0
Numeric==24.2
PAM==0.4.2
## FIXME: could not find svn URL in dependency_links for this package:
PEAK-Rules==0.5a1.dev-r2600
PIDA==0.5.1
PIL==1.1.7
Paste==1.7.5.1
PasteDeploy==1.3.3
PasteScript==1.7.3
Pivy==0.5.0
PocketSphinx==0.5.1
Postr==0.12.4
PyAIML==0.8.6
PyAudio==0.2.4
PyBluez==0.18
PyChart==1.39
PyGreSQL==4.0
PyICU==1.0
PyMT==0.5.1
PyMTP==0.0.4
PyMetrics==PYMETRICS-VERSION
PyOpenGL==3.0.1b2
PyRRD==0.0.7
PyRSS2Gen==1.0.0
PyVTK==0.4.74
PyX==0.10
PyYAML==3.09
Pyevolve==0.6
Pygments==1.4
Pyjamas==0.7
Pylons==0.10
Pymacs==0.23
Pympd==0.07
Pyrex==0.9.8.5
Pyro==3.9.1
Pyste==0.9.10
PythonDaap==0.7.1
Quixote==2.7b2
Radicale==0.4
RestrictedPython==3.6.0
Routes==1.12.3
SOAPpy==0.12.0
SQLAlchemy==0.6.4
SQLObject==0.12.4
SciTools==0.8
ScientificPython==2.8
Scrapy==0.12.0.2528
SetupDocs==1.0.4
Skype4Py==1.0.32.0
Soya==0.15rc1
Sphinx==1.0.1
SphinxBase==0.4.1
SpreadModule==1.5
SymbolType==1.0
TRML2PDF==1.0
Tempita==0.4
ToscaWidgets==0.9.7.2
Traits==3.4.0
TraitsBackendWX==3.4.0
TraitsGUI==3.4.0
TurboGears2==2.0.3
TurboJson==1.2.1
Twisted==10.2.0
Twisted-Conch==10.2.0
Twisted-Core==10.2.0
Twisted-Lore==10.2.0
Twisted-Mail==10.2.0
Twisted-Names==10.1.0
Twisted-News==10.2.0
Twisted-Runner==10.2.0
Twisted-Web==10.2.0
Twisted-Words==10.2.0
TwistedSNMP==0.3.13
UniConvertor==1.1.4
VTK==5.4.2
Volume==1.5.4
WebError==0.10.2
WebFlash==0.1a9
WebHelpers==1.1
WebOb==1.0
WebTest==1.2.3
Werkzeug==0.8.3
Whoosh==1.7.4
Wicd==1.7.0
ZooKeeper==0.4
aafigure==0.5
adium-theme-ubuntu==0.3.1
adns-python==1.2.1
amqplib==0.6.1
anyjson==0.2.3
apache-openid==2.0.1
apipkg==1.0b6
## FIXME: could not find svn URL in dependency_links for this package:
apsw==3.7.0.1-r1
apt-xapian-index==0.41
apturl==0.4.2ubuntu5.1
argparse==1.1
arista==0.9.6
bcrypt==0.1
bicyclerepair==0.9
bitarray==0.3.5
boto==2.1.1
bottle==0.8.4
bpython==0.9.7.1
bzr==2.3.4
bzr-dbus==0.1-
bzr-gtk==0.100.0
carrot==0.10.7
ccsm==0.9.4
chardet==2.0.1
chirp==0.1.12
command-not-found==0.1
compizconfig-python==0.9.4
configglue==0.9pre1
configobj==4.7.2
coverage==3.2
cracklib==2.8.16
cssutils==0.9.7b2
ctypeslib==0.5.6
decorator==3.2.0
defer==1.0.2
deluge==1.3.1
demjson==1.6
dhm==0.6
dictclient==1.0.1
dingus==0.1
distribute==0.6.10
django-ajax-selects==1.1.4
django-app-plugins==0.1.1
django-contact-form==0.3
django-countries==1.0.4
django-dajax==0.8.4
django-dajaxice==0.1.8.1
django-debug-toolbar==0.8.3
django-evolution==0.0.0
django-extensions==0.5
django-filebrowser==2.1.0
django-formfieldset==git20090312-a822fad
django-lint==0.0.0
django-markupfield==1.0.0a2
django-nose==0.1
django-nova==0.1
django-openid-auth==0.2
django-picklefield==0.1.6
django-piston==0.2.2
django-registration==0.7
django-shorturls==1.0.1
django-swordfish==0.0.0
django-tagging==0.3.1
django-tinymce==1.5
django-voting==0.1
djextdirect==0.4
dnspython==1.9.4
docutils==0.7
dpkt==1.6
dulwich==0.7.0
earcandy==0.9-public2
easygui==0.96
easyzone==1.2.1
## FIXME: could not find svn URL in dependency_links for this package:
elementtidy==1.0-20050212
elisa==1.0.9
empy==3.1
enum==0.4.4
epydoc==3.0.1
ethtool==0.6
eventlet==0.9.14
extended-threading==0.2
eyeD3==0.6.17
fastimport==0.9.0dev0
faulthandler==1.3
feedparser==4.1
fixtures==0.3.5
flickrapi==1.2
flup==1.0.2
fontforge==1.0
fontypython==0.4.2.3
foolscap==0.6.1
fpconst==0.7.2
fs==0.3.0
fstab==1.4
fuse-python==0.2.1
fusion-icon==0.1.0
gaphas==0.6.0
gasp==0.3.4
gazpacho==0.7.2
gdata==2.0.8
gdmodule==0.56
gevent==0.13.0
glance==2011.2
gmpy==1.14
gnome-activity-journal==0.5.0.1
gnome-app-install==0.4.7ubuntu3
gnuplot-py==1.8
gpodder==2.14
gps==2.95
greenlet==0.3.1
grokcore.component==2.0
guidata==1.2.5
guppy==0.1.9
h5py==1.3.1
html2text==2.37
html5lib==0.90
httplib2==0.7.2
iniparse==0.3.2
instant==0.9.9
ipaddr==2.1.9
iplib==1.1
ipython==0.10.1
jockey==0.9.2
jsonpickle==0.3.1
kaa-base==0.6.0
kaa-metadata==0.7.7
keyring==0.5.1
kiwi==1.9.22
launchpadlib==1.9.7
lazr.restfulclient==0.11.1
lazr.uri==1.0.2
libftdi==0.18
lightblue==0.3.2
lockfile==0.8
logilab-astng==0.21.1
logilab-common==0.55.0
louis==2.0.0
lxml==2.3
mailer==0.5
martian==0.12
matplotlib==0.99.3
mechanize==0.1.11
medusa==0.5.4
meliae==0.3.0.final.0
mercurial==1.7.5
mididings==20101119
miro==3.5.1
mod-python==3.3.1
mrjob==0.3.2-dev
mutagen==1.19
mygpoclient==1.4
ncap==0.0.0
ncrypt==0.6.4
netaddr==0.7.4
netifaces==0.5
netsnmp-python==1.0a1
nose==0.11.4
nova==2011.2
numpy==1.5.1
nvidia-common==0.0.0
oauth==1.0a
obexftp==0.23
objgraph==1.6.0
onboard==0.94.0
ooolib-python==0.0.17
## FIXME: could not find svn URL in dependency_links for this package:
openoffice-python==0.1-r34-20090228
opster==1.1
pYsearch==3.1
papyon==0.5.5
paramiko==1.7.6
parsedatetime==0.8.7
pcapy==0.10.6
pcs==0.6
pdfposter==0.4.4
pdfshuffler==0.5
pdftools==0.37
pesto==19
pexpect==2.3
photo-uploader==0.9
pisa==3.0.32
piston-mini-client==0.3
ply==3.3
pocketlint==0.5.13
pp==1.6.0
prettytable==0.5
prioritized-methods==0.2.1
progressbar==2.2
protobuf==2.3.0
protobuf.socketrpc==1.3.2
psutil==0.1.3
psycopg2==2.2.1
py==1.3.3
py-Asterisk==0.1
py-pypcap==1.1.2
py-rrdtool==0.2.1
py-sendfile==1.2.4
pyExcelerator==0.6.4.1
pyOpenSSL==0.10
pyPdf==1.12
pyalsaaudio==0.5
pyao==0.82
pyasn1==0.0.11a
pybackpack==0.5.8
pycallgraph==0.5.1
pycha==0.5.3
pychecker==0.8.19
pycountry==0.12.1
pycrypto==2.1.0
pycups==1.9.54
pycurl==7.19.0
pydicom==0.9.4-1
pydns==2.3.4
pydoctor==0.3
pydot==1.0.2
pyelemental==1.2.0
pyenchant==1.5.3
pyfacebook==0.1
pyfiglet==0.4
pyfits==2.3.1
pyflakes==0.4.0
pygame==1.9.1release
pygdchart==2.0.Beta
pyglet==1.1.2
pygooglechart==0.3.0
pygpgme==0.1
pygraphviz==1.0
pyinotify==0.8.9
pyip==0.7
pylibacl==0.5.0
pyliblo==0.9.1
pylibpcap==0.6.2
pylibssh2==1.0.0
pylint==0.23.0
pylirc==0.0.5
pymad==0.6
pymetar==0.16
pyneighborhood==0.5.1
pynetsnmp==0.28.14
pynids==0.6.1
pyofa==1.0.3
pyogg==1.3
pyosd==0.2.14
pyparallel==0.2
pyparsing==1.5.2
pyproj==1.8.8
pyquery==0.6.1
pyrad==1.2
pysane==2.0
pyscard==1.6.12
pyscript==0.6.1
pyserial==2.5
pysmbc==1.0.10
pysnmp==4.1.9a
pysnmp-apps==0.2.6a
pysnmp-mibs==0.0.5a
pysnmp-se==3.5.2
pysqlite==2.6.0
pysubnettree==0.12
pyth==0.5.6
python-aalib==0.2
python-application==1.2.4
python-apt==0.7.100.3ubuntu6.1
python-cjson==1.0.5
python-daemon==1.5.5
python-dateutil==1.4.1
python-debian==0.1.18ubuntu2
python-distutils-extra==2.26
python-djvulibre==0.1.18
python-dmidecode==3.10.11
python-e-dbus==0.5.0
python-ecore==0.5.0
python-edje==0.5.0
python-elementary==0.5.0
python-espeak==0.3
python-evas==0.5.0
python-geoclue==0.1.0
python-gflags==1.3
python-graph-core==1.7.0
python-graph-dot==1.7.0
python-irclib==0.4.8
python-ldap==2.3.11
python-libgearman==0.13.2
python-memcached==1.45
python-mpd==0.3.0
python-musicbrainz2==0.7.2
python-netfilter==0.5.6
python-nmap==0.1.4
python-novaclient==2.4
python-openid==2.2.4
python-ptrace==0.6.2
python-snpp==1.1.1
python-stdnum==0.3
python-twitter==0.6
python-virtkey==0.60.0
python-xlib==0.14
python-xmltv==1.3
pythondialog==2.7
pytools==10
pytrainer==1.7.2
pytz==2010b
pyudev==0.8
pyusb==0.4.2
pywapi==0.2.2
pyweblib==1.3.5
pyxdg==0.19
pyxine==0.1alpha2
pyxmpp==1.1.1
qrencode==1.01
quickly==11.04
quickly-widgets==11.03.1
radix==0.5
rdflib==2.4.2
rdiff-backup==1.2.8
recaptcha-client==1.0.5
relatorio==0.5.5
reportlab==2.5
repoze.tm2==1.0a4
repoze.what==1.0.9
repoze.what-pylons==1.0
repoze.what-quickstart==1.0
repoze.what.plugins.sql==1.0rc1
repoze.what.plugins.xml==1.0rc1
repoze.who==1.0.18
repoze.who-friendlyform==1.0b3
repoze.who-testutil==1.0rc1
repoze.who.plugins.ldap==1.0
repoze.who.plugins.openid==0.5
repoze.who.plugins.sa==1.0rc2
restkit==2.3.3
rope==0.9.2
rpy==1.0.3
rpy2==2.1.9
scgi==1.13
scipy==0.8.0
sclapp==0.5.3
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
setproctitle==1.0.1
simplegeneric==0.7
simplejson==2.1.2
slides==1.0.1
smbus==1.1
snimpy==0.5
soaplib==0.8.1dev
speex==1.0
sprox==0.6.4
spyder==2.0.6
sqlalchemy-migrate==0.6
startupmanager==1.9.13
stepic==bzr
stompy==0.2.5
subvertpy==0.7.5
suds==0.4.1
sympy==0.6.7
system-service==0.1.6
tagpy==0.94.7
tepache==1.0
testtools==0.9.8
textile==2.1.4
tg.devtools==2.0.2
tgext.admin==0.2.6
tgext.crud==0.2.4
tickcount==1.0
tortoisehg==1.1.4
tracer==0.2.3
transaction==1.1.1
transmissionrpc==0.5
tw.forms==0.9.7.2
twyt==0.9.2
uTidylib==0.2
ubuntu-sso-client==1.2.1
ubuntu-tweak==0.5.14
ubuntuone-dev-tools==0.1.3
ubuntuone-storage-protocol==1.6.1
ufw==0.30.1-1ubuntu1
unattended-upgrades==0.1
uncertainties==1.7
urlscan==0.5
urwid==0.9.9.1
usb-creator==0.2.23
vboxapi==1.0
viper==0.4.7
virtualenv==1.4.9
virtualenvwrapper==2.2.2
vobject==0.8.1c
wadllib==1.1.8
web.py==0.34
winpdb==1.4.6
wsgi-intercept==0.4
wsgiref==0.1.2
wxPython==2.8.11.0
wxPython-common==2.6.3.2
wxglade==0.6.3
xappy==0.5
xattr==0.6
xkit==0.0.0
xlrd==0.6.1
xlwt==0.7.2
yenc==0.3
zhone==milestone4.1-git
zope.component==3.9.5
zope.configuration==3.7.2
zope.event==3.4.1
zope.hookable==3.4.1
zope.i18nmessageid==3.5.3
zope.interface==3.6.1
zope.schema==3.7.1
zope.sqlalchemy==0.4
